.search{
    height: 100vh;
    display: flex;
    flex-direction: column;
    top:0;
    position: relative;
    box-sizing: border-box;
    &>div{
        box-sizing: border-box;
        padding: 20px;
    }

    .search-head{
        border-bottom: 2px solid #efefef;
        height: auto;
    }
    h1{
        margin: 0;
        font-size: 23px;
        font-weight: bold;
    }
    h3{
        margin: 0;
        font-size: 15px;
    }
    input{
        width: 100%;
        margin-top: 30px;
    }
    .no-data{
        position: relative;
        display: grid;
        grid-template-rows: max-content auto;
        flex-direction: column;
        height: 100%;
        p{
            justify-self: center;
            align-self: center;
            color: #888
        }
    }
    .loading{
        display: grid;
        align-items: center;
        height: 100%;
    }
    .users{
        padding: 10px 0;
        overflow: auto;
    }
    .user{
        display: flex;
        padding: 5px 25px;
        gap: 15px;
        &:hover{
            background-color: #fafafa;
        }
        div{
            display: flex;
            gap: 5px;
            flex-direction: column;
        }
        
    }
}


.loader {
    display: block;
    color: #777;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }
  
  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
   