.stories_bar {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 16px 24px;
    display: flex;
    grid-gap: 27px;
    margin-bottom: 30px;

    .profile {
        width: 56px
    }

    .profile {
        .image {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            overflow: hidden;
            display: grid;
            align-items: center;
        }

        p {
            font-size: 12px;
            text-align: center;
            font-weight: 100;
            margin: 0;
            padding-top: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        a {
            text-decoration: none;
            color: #262626;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
}